@media only screen and (min-width: 800px) {
  /* index css */

  .header {
    text-align: center;
    font-family: "Major Mono Display", monospace;
  }

  .c {
    color: #a7226e;
  }
  .i {
    color: #ec2049;
  }
  .d1 {
    color: #f26b38;
  }
  .s {
    color: #f7db4f;
  }
  .w {
    color: #2f9599;
  }
  .o {
    color: #a7226e;
  }
  .r {
    color: #ec2049;
  }
  .l {
    color: #f26b38;
  }
  .d2 {
    color: #f7db4f;
  }

  hr {
    width: 400px;
  }

  /* link css */

  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    color: black;
  }

  /* idex grid */

  .grid1 {
    margin-top: 10px;
    margin-left: 185px;
    width: 500px;
    display: grid;
    grid-template-areas:
      "showcase1 showcase3 showcase7 showcase8 showcase6"
      "bbhouse1 bbhouse2 bbhouse6 bbhouse4 bbhouse5"
      "cbvc1 cbvc5 cbvc2 cbvc3 cbvc4"
      "first1 first2 kandinsky2 chair4 shelter2";
  }

  .single-item {
    width: 400px;
  }
  img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  #showcase1 {
    grid-area: showcase1;
  }
  #showcase3 {
    grid-area: showcase3;
  }
  #showcase7 {
    grid-area: showcase7;
  }
  #showcase8 {
    grid-area: showcase8;
  }
  #showcase6 {
    grid-area: showcase6;
  }

  #bbhouse1 {
    grid-area: bbhouse1;
  }
  #bbhouse2 {
    grid-area: bbhouse2;
  }
  #bbhouse6 {
    grid-area: bbhouse6;
  }
  #bbhouse4 {
    grid-area: bbhouse4;
  }
  #bbhouse5 {
    grid-area: bbhouse5;
  }
  #cbvc1 {
    grid-area: cbvc1;
  }
  #cbvc5 {
    grid-area: cbvc5;
  }
  #cbvc2 {
    grid-area: cbvc2;
  }
  #cbvc3 {
    grid-area: cbvc3;
  }
  #cbvc4 {
    grid-area: cbvc4;
  }
  #first1 {
    grid-area: first1;
  }
  #first2 {
    grid-area: first2;
  }
  #kandinsky2 {
    grid-area: kandinsky2;
  }
  #chair4 {
    grid-area: chair4;
  }
  #shelter2 {
    grid-area: shelter2;
  }
}
/* palette

purple #A7226E
red #EC2049
orange #F26B38
yellow #F7DB4F
blue #2F9599
*/

/* fonts */
/* font-family: 'Major Mono Display', monospace;
font-family: 'Anonymous Pro', monospace; */
