.grid_container {
    display: grid;
}

.box {
    border: 10px solid #000000
    font-family:monospace;
}
.yellow {
    grid-area: yellow;
    background-color: yellow;
}
.red {
    grid-area: red;
    background-color: red;
}
.blue {
    grid-area: blue;
    background-color: blue;
}
