@media only screen and (max-width: 400px) {
  html {
    /* margin: auto; */
    /* overflow-x: hidden; */
    font-family: "Sunflower", sans-serif;

    background-color: #ff8ea2;
  }

  body {
    /* overflow-x: hidden; */
    /* position: relative; */
    max-width: 300px;
    /* margin-right: 50px; */
    /* margin-left: 10px; */
    border: 3px solid;
    border-color: #ffb2b9;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
  }

  /* STYLE PROPERTIES*/

  .the_knk,
  .about {
    text-align: center;
  }

  h1,
  h3 {
    background-color: #ffb2b9;
    width: 200px;
    /* margin-left: 80px; */
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 25px;
  }

  h3 {
    margin-bottom: 10px;
  }
  h2 {
    padding-left: 100px;
    margin: 0 auto;
    text-decoration: underline;
    text-decoration-color: #ff8ea2;
  }
  h4 {
    padding-left: 155px;
    margin: 0 auto;
  }

  .general {
    width: 350px;
  }

  #group {
    width: 300px;
    border: 3px solid;
    border-color: #ffb2b9;
  }

  hr {
    width: 200px;
    height: 2px;
    background-color: #ff8ea2;
    margin-bottom: 20px;
    margin-left: 78px;
  }
  .jihuntext,
  .seohamtext,
  .dongwontext,
  .inseongtext,
  .heejuntext,
  .youjintext {
    width: 300px;
    margin-left: 28px;
  }
  .youjintext {
    margin-bottom: 15px;
  }

  #music,
  #unmute {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ff8ea2;
    font-size: 18px;
  }

  #knock,
  #gravity,
  #ln,
  #ss {
    width: 130px;
    height: 130px;
    border: 3px solid;
    border-color: #ffb2b9;
    margin-left: 25px;
  }

  .nav1 {
    margin-left: 0px;
    margin-right: 160px;
    font-size: 15px;
  }
  .nav1text {
    margin-right: 10px;
  }

  .nav2 {
    margin-right: 180px;
    font-size: 12px;
  }

  .nav2text {
    margin-left: 10px;
  }

  iframe {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    margin-left: 50px;
    border: 3px solid;
    border-color: #ffb2b9;
  }

  .performance {
    margin-left: 0px;
  }
  footer {
    text-align: center;
    font-size: 12px;
  }

  /* LINK STYLING*/

  a:link {
    text-decoration: none;
    color: #f5536a;
  }

  a:visited {
    color: #f5536a;
  }

  a:hover {
    color: #ffb2b9;
  }

  a:active {
    color: #f5536a;
  }

  /* GRID PROPERTIES*/

  .grid_container {
    width: 350px;
    display: grid;
    grid-template-areas:
      "the_knk the_knk the_knk"
      "nav1 nav1 nav1"
      "nav2 nav2 nav2";
  }

  .the_knk {
    grid-area: the_knk;
  }

  .nav1 {
    grid-area: nav1;
  }

  .nav2 {
    grid-area: nav2;
  }

  .grid_container2 {
    width: 3500px;
    display: grid;
    grid-template-areas: "more more more";
  }

  .members {
    grid-area: members;
    margin-left: 0px;
  }

  .more {
    width: 300px;
    grid-area: more;
    padding-left: 25px;
    padding-right: 15px;
    text-align: center;
  }

  .jpgs {
    float: left;
    width: 300px;
    height: 300px;
    margin: 27px;
  }
  .jihun,
  .seoham,
  .dongwon,
  .inseong,
  .heejun,
  .youjin {
    font-size: 15px;
    height: 300px;
  }

  .members {
    width: 350px;
    display: grid;
    grid-template-areas:
      "jihun"
      "jihuntext"
      "seoham"
      "seohamtext"
      "dongwon"
      "dongwontext"
      "inseong"
      "inseongtext"
      "heejun"
      "heejuntext"
      "youjin"
      "youjintext";
  }

  .jihun {
    grid-area: jihun;
  }

  .jihuntext {
    grid-area: jihuntext;
  }

  .seoham {
    grid-area: seoham;
  }

  .seohamtext {
    grid-area: seohamtext;
  }

  .dongwon {
    grid-area: dongwon;
  }

  .dongwontext {
    grid-area: dongwontext;
  }

  .inseong {
    grid-area: inseong;
  }

  .inseongtext {
    grid-area: inseongtext;
  }

  .heejun {
    grid-area: heejun;
  }

  .heejuntext {
    grid-area: heejuntext;
  }

  .youjin {
    grid-area: youjin;
  }

  .youjintext {
    grid-area: youjintext;
  }

  .albums {
    width: 300px;
    display: grid;
    grid-template-areas:
      "knock gravity"
      "ln ss";
  }

  .knock {
    grid-area: knock;
  }

  .gravity {
    grid-area: gravity;
  }

  .lonelynight {
    grid-area: ln;
  }

  .sscollection {
    grid-area: ss;
  }

  .performance {
    width: 350px;
    display: grid;
    grid-template-areas:
      "debut"
      "views"
      "liked"
      "recent";
  }

  .debut {
    grid-area: debut;
  }

  .views {
    grid-area: views;
  }
  .liked {
    grid-area: liked;
  }
  .recent {
    grid-area: recent;
  }
}

/* font families
font-family: 'Sunflower', sans-serif;
font-family: 'Poppins', sans-serif; */

/* color palette
light pink: #FFB2B9
med pink: #FF8EA2
dark pink: #F5536A */
