html {
    font-size: 21px;
    line-height: 1.7;
    font-family: sans-serif;
}

.grid_container {
    width: 600px;
    display: grid;
    grid-template-areas:
        "yellow yellow red"
        "blue blue blue";
    grid-gap: 1.4rem;
}
body{
    font-size: 1.6rem;
}
.box {
    border: 10px solid
    font-family: monospace;
    margin: 4px;
}
.yellow {
    grid-area: yellow;
    background-color: yellow;
}
.red {
    grid-area: red;
    background-color: red;
}
.blue {
    grid-area: blue;
    background-color: cyan;
}
